body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  /* top: 50px; */
  left: 0;
  right: 0;
  /* margin-bottom: 50px; */
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiPaper-root.AppBar{
  text-align: center;
  position: fixed;
  background-color: #9984d4;
}

.MuiSvgIcon-root{
  color: black;
}

.MuiBottomNavigationAction-label{
  color: black;
}

.MuiButtonBase-root.MuiButton-text.custom-fab-button{
  background-color:#9984d4;
  text-transform: none;
  color: white;
  width: 200px;
  font-weight: bold;
}

.MuiButtonBase-root.MuiFab-root.custom-fab-button{
  background-color:#9984d4;
  text-transform: none;
  color: white;
  width: 200px;
  font-weight: bold;
}

.MuiSvgIcon-root.forwardArrowIcon{
  color: white;
}

.MuiButtonBase-root.accountList{
  background-color:#9984d4;
  text-transform: none;
  color: white;
  width: 200px;
  font-weight: bold;
}

.MuiBottomNavigation-root.bottom-nav-custom-css{
  overflow: hidden;
  background-color:#9984d4;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.MuiButtonBase-root .MuiListItem-root .MuiListItem-button .listItem {
  background-color:#9984d4;
}

.MuiInputBase-root{
  width: 200px;
}

.login-screen{
  width: 500px;
  height: 695px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.list-group-item{
  background-color: #bfb2e2;
  margin: 5px;
  width: auto;
  height: 15vmin;
  border-radius: 10px;
}

.MuiPaper-root.alert{
  color: red;
  background-color: #ffe0e0;
  text-align: center;
}

.app-logo {
  height: 35vmin;
  pointer-events: none;
}

.body {
  margin: 65px auto;
}

.my-facebook-button-class{
  background-color:#3b5998;
  text-transform: none;
  color: white;
  width: 200px;
  font-weight: bold;
  height: 36px;
}